:host {
  display: flex;
  height: 64px;
  width: 100%;
  max-width: 320px;
  align-items: center;
  flex: 1 auto;
  border-radius: 32px;
}

::ng-deep body.dark app-github-url {
  @apply bg-background;
  border: 2px solid var(--background);
}
::ng-deep body:not(.dark) app-github-url {
  @apply text-dark-blue-opacity-10;
  border: 2px solid var(--dark-blue);
}
:host:hover {
  border: 2px solid var(--blue);
  cursor: pointer;
  a {
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .arrow ion-icon {
    @apply text-blue;
  }
}
.stamp {
  background: var(--gradient);
  flex-grow: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;

  ion-icon {
    font-size: 38px;
  }
}

.url {
  flex-grow: 5;
  padding-left: 16px;
  a {
    font-size: 20px;
  }
}
.arrow {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  ion-icon {
    font-size: 20px;
  }
}
