<div class="empty-box" *ngIf="!unsubscribed && !error">
  <ion-spinner name="bubbles"></ion-spinner>
</div>
<div class="empty-box" *ngIf="!unsubscribed && error">
  <img src="assets/img/cancel.svg" alt="Error while unsubscribing" />
  <h2>Oh no!</h2>
  <p>Something went wrong, sorry! Please try again later.🙈</p>
</div>
<div class="empty-box" *ngIf="unsubscribed">
  <img src="assets/img/cancel.svg" alt="Unsubscribe confirmed" />
  <h2>Successfully unsubscribed 😔</h2>
  <p>We are sorry to see you go. You can re-subscribe if you feel like it.</p>
</div>
