:host{
  display: block;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline;
  @apply text-sm;
}

li + li:before {
  padding: 8px;
  content: '/\00a0';
}

a,
li + li:before {
  @apply text-blue;
}