<div class="flex flex-col space-y-4">
  <a
    #link
    class="flex flex-col space-y-4 featured rounded-md focus-ring focus:ring-offset-4 focus:ring-offset-canvas"
    [routerLink]="[route.route]"
  >
    <div class="flex flex-row items-center space-x-2">
      <niz-inline-svg
        *ngIf="type === 'LINK'"
        class="h-4 w-4 text-primary-light"
        svgSource="assets/img/link.svg"
      ></niz-inline-svg>
      <span class="text-sm">{{ route.updatedAt | date: 'MMMM dd, yyyy' }}</span>
    </div>

    <h2 class="space-x-4 mt-1 text-4xl font-bold md:text-5xl">
      <span>{{ route.title }}</span>
      <niz-inline-svg
        class="icon"
        svgSource="assets/img/arrow-right.svg"
      ></niz-inline-svg>
    </h2>

    <div class="text-xl text-color-light md:text-2xl">
      {{ route.description }}
    </div>
  </a>
  <div>
    <niz-chip
      class="mb-1 mr-1 gradient"
      *ngFor="let tag of route.tags | slice: 0:3"
      size="xl"
    >
      <a
        class="rounded-md focus-ring"
        [routerLink]="'/tags/' + (tag | dash | lowercase)"
      >
        {{ tag }}
      </a>
    </niz-chip>
  </div>

  <a
    *ngIf="author$ | async as author"
    class="flex items-center space-x-4 group"
    [routerLink]="author.route"
  >
    <img
      class="h-12 w-12 rounded-full group-hover:opacity-80"
      [src]="author.img"
      [alt]="author.title"
    />
    <span class="text-lg font-semibold leading-8 group-hover:text-primary">
      {{ author.title }}
    </span>
  </a>
</div>
