<niz-seo
  *ngIf="page$ | async as page"
  [title]="page.title"
  [description]="'All posts of ' + page.title"
  [route]="page.route"
  [tags]="[page.title]"
></niz-seo>

<article class="max-w-container space-y-5 mt-10">
  <header>
    <h1 class="text-3xl font-extrabold sm:text-4xl md:text-5xl">
      {{ (page$ | async)?.title }}
    </h1>
    <p class="mt-1 text-lg text-color-light sm:text-xl md:text-2xl">
      {{ (page$ | async)?.description }}
    </p>
  </header>

  <div class="prose max-w-none md:prose-lg">
    <scully-content></scully-content>
  </div>

  <div *ngIf="page$ | async as page" class="prose max-w-none md:prose-lg">
    <h2>Chapters</h2>

    <div class="space-y-5">
      <div *ngFor="let chapter of page.chapters" class="space-y-2">
        <h3 [id]="chapter.slug">
          {{ chapter.title }}
        </h3>

        <div class="rounded-md shadow-md overflow-hidden">
          <a
            *ngFor="
              let post of seriesPosts$ | async | filterChapter: chapter.slug
            "
            class="flex flex-col p-4 bg-canvas-light space-y-2 md:space-y-0 md:flex-row md:items-center md:justify-between group hover:bg-canvas-shade focus:outline-none focus:ring focus:ring-primary focus:ring-inset"
            [routerLink]="post.route"
          >
            <span>
              <span
                class="block text-base font-bold group-hover:text-primary sm:text-lg md:text-xl"
              >
                {{ post.title }}
              </span>
              <span class="text-sm sm:text-base md:text-lg">
                {{ post.description }}
              </span>
            </span>

            <div class="flex space-x-2">
              <niz-inline-svg
                *ngFor="let tag of post.tags | slice: 0:3"
                class="h-6 w-6"
                [svgSource]="'assets/stack/' + tag + '.svg' | lowercase | dash"
              ></niz-inline-svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>
