:host {
  display: block;
  background-size: cover;
  padding-top: 56px;
}

p {
  text-align: justify;
}

ion-button {
  --color: var(--ion-text-color);
  --color-hover: var(--ion-color-primary);
}

ion-list {
  background: transparent;
}

ion-label {
  text-align: center;
  width: 100%;
}

ion-item-divider {
  --padding-start: 0px;
  --ion-border-color: transparent;
}

// ::ng-deep body.dark{
//   app-footer{
//     background-image: url(/assets/img/wave-bottom-dark.svg)
//   }
// }
// ::ng-deep body:not(.dark){
//   app-footer{
//     background-image: url(/assets/img/wave-bottom-light.svg)
//   }
// }

.fade{
  color: var(--ion-color-medium);
  font-size: 0.8rem;
}

.flexy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}