<footer class="container">
  <div class="md:grid md:grid-cols-2 md:gap-x-2">
    <div>
      <p
        class="text-sm font-semibold uppercase tracking-wider text-color-shade"
      >
        about
      </p>
      <div class="prose my-4">
        <p>
          <strong>*notiz.dev</strong> is created by
          <a
            [routerLink]="'authors/gary-grossgarten/'"
            class="focus-ring rounded-md"
          >
            Gary Großgarten
          </a>
          and
          <a
            [routerLink]="'authors/marc-stammerjohann/'"
            class="focus-ring rounded-md"
          >
            Marc Stammerjohann</a
          >. We love to share our experiences and findings working with Angular,
          NestJS, Prisma, Web Components and more. 👀 We are excited about the
          upcoming years of web development and hope to make some friends along
          the way.
        </p>
        <p>
          <em>* notiz [noˈtiːt͡s] - (german) short, brief, written record</em>
        </p>
      </div>
    </div>
    <div class="grid grid-cols-2 px-4">
      <div *ngFor="let footerSection of footerSections">
        <p
          class="text-center text-sm font-semibold uppercase tracking-wider text-color-shade"
        >
          {{ footerSection.title }}
        </p>
        <div class="mt-4 space-y-2">
          <ng-container *ngFor="let link of footerSection.links">
            <a
              [href]="link.url"
              *ngIf="link.external"
              target="_blank"
              rel="noreferrer"
              class="focus-ring mx-1 flex items-center justify-center rounded-full p-1 text-justify text-color hover:bg-primary hover:bg-opacity-10 hover:text-primary"
            >
              <ng-container *ngTemplateOutlet="myTemplate"></ng-container>
            </a>
            <a
              [routerLink]="link.url"
              *ngIf="!link.external"
              class="focus-ring mx-1 flex items-center justify-center rounded-full p-1 text-justify text-color hover:bg-primary hover:bg-opacity-10 hover:text-primary"
            >
              <ng-container *ngTemplateOutlet="myTemplate"></ng-container>
            </a>

            <ng-template #myTemplate>
              <niz-inline-svg
                *ngIf="link.svg"
                class="mr-1 h-4 w-4"
                [svgSource]="link.svg"
              ></niz-inline-svg>
              {{ link.title }}
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="flex justify-center">
      <p class="text-base text-color">Created with</p>
      <div class="ml-1 flex items-center">
        <niz-inline-svg
          class="h-5 w-5"
          *ngFor="let svg of createdWithSvgSources"
          [svgSource]="svg"
        ></niz-inline-svg>
      </div>
    </div>

    <p class="text-center text-sm text-color-light">
      ©
      <a [routerLink]="copyrightUrl" class="focus-ring rounded-md">notiz.dev</a>
      {{ now | date: 'yyyy' }}
    </p>
  </div>
</footer>
