<ion-footer class="ion-no-border">
    <ion-toolbar>
      <div class="ion-text-center">
        <ion-buttons class="center">
          <ion-button href="https://github.com/notiz" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="logo-github"></ion-icon>
          </ion-button>
          <ion-button href="https://twitter.com/notiz" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
          </ion-button>
          <ion-button href="mailto:hi@notiz.de" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="mail"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-footer>