<div
  class="responsive-container space-y-5 mt-10"
>
  <app-breadcrumb></app-breadcrumb>
  <app-article feature="Link" [route]="(post$ | async)"></app-article>

  <div class="line"></div>

  <div class="post">
    <scully-content></scully-content>

    <niz-primary-button [href]="(post$ | async)?.url">
      <ion-icon slot="start" name="link"></ion-icon>
      <span>Link to article</span>
    </niz-primary-button>
  </div>

  <h2 class="text-2xl font-semibold">Share this post</h2>
  <app-share [route]="(post$ | async)"></app-share>
</div>

<app-card-stack title="Related Posts" subtitle="Find more posts like this one.">
  <div class="card" *ngFor="let blogPost of related$ | async | slice: 0:8">
    <app-article [route]="blogPost"></app-article>
  </div>
  <div class="card" *ngIf="(related$ | async | slice: 0:8)?.length < 7">
    <app-coming-soon></app-coming-soon>
  </div>
</app-card-stack>
<app-comments class="my-5" [route]="post$ | async"></app-comments>>