::slotted(h1) {
  color: rgb(51, 6, 37);
  background-color: rgb(248, 211, 236);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.post {
  margin-top: 16px;
}

.line {
  height: 1px;
  width: 100%;
  margin-top: 12px;
  @apply bg-background;
}