::ng-deep {
  niz-note .content {
    :first-child {
      margin-top: 0;
    }
  }

  .success {
    @apply text-green-700 bg-green-100 border-green-800;
    p,
    span {
      @apply text-green-700;
    }
    h3,
    h4 {
      @apply text-green-800 mt-0 mb-2;
    }
    i {
      @apply text-green-800;
    }
  }

  .info {
    @apply text-blue-700 bg-blue-100 border-blue-800;
    p,
    span {
      @apply text-blue-800;
    }
    h3,
    h4 {
      @apply text-blue-800 mt-0 mb-2;
    }
    i {
      @apply text-blue-800;
    }
  }

  .warn {
    @apply text-yellow-700 bg-yellow-100 border-yellow-800;
    p,
    span {
      @apply text-yellow-700;
    }
    h3,
    h4 {
      @apply text-yellow-800 mt-0 mb-2;
    }
    i {
      @apply text-yellow-800;
    }
  }
}
