ion-toolbar {
  --min-height: 68px;
  --padding-bottom: 14px;
  --padding-end: 22px;
  --padding-start: 22px;
  --padding-top: 22px;
}
ion-title {
    cursor: pointer;
}

ion-button {
    font-weight: 600;
}