<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-button class="ion-text-lowercase" shape="round" size="large" color="dark" slot="start" fill="clear" href="">notiz</ion-button>
      <ion-buttons slot="end">
        <ion-button
          class="ion-text-lowercase"
          href="blog"
          fill="clear"
          shape="round"
          size="large"
        >
        <ion-icon slot="icon-only"></ion-icon>
          blog
        </ion-button>
        <app-theme-switcher></app-theme-switcher>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>