ion-card {
  border-radius: 50px;
  padding: 16px 24px;
}
ion-label {
  text-align: center;
  width: 100%;
  color: var(--ion-text-color);
}

ion-item-divider {
  --padding-start: 0px;
  --ion-border-color: transparent;
  --background: transparent;
}

.website {
  display: block;
  color: var(--ion-color-secondary);
  padding-bottom: 16px;
}

ion-avatar {
  height: 48px;
  width: 48px;
}

::ng-deep body:not(.dark) .author {
  --background: var(--ion-background-color);
  ion-item {
    --background: var(--ion-background-color);
    --border-color: var(--ion-color-primary-tint);
  }
}

@media (max-width: 991px) {
  ion-card {
    padding: 16px 4px;
  }
  ion-card-header {
    padding: 0;
  }
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}