<ion-card class="author">
  <ion-item>
    <ion-avatar slot="start">
      <img [alt]="author.title" [src]="author.img" />
    </ion-avatar>
    <div>
      <h2>
        <a [routerLink]="author.route">{{ author.title }}</a>
      </h2>
      <a class="website" [href]="author.website">{{ author.website }}</a>
    </div>
  </ion-item>

  <ion-card-content class="ion-no-padding">
    <ion-button href="https://twitter.com/{{ author.twitter }}" expand="full" fill="clear" shape="round"
      class="ion-text-lowercase">
      <ion-icon slot="start" name="logo-twitter"></ion-icon>
      @{{ author.twitter }}
    </ion-button>

    <ion-button href="https://github.com/{{ author.github }}" expand="full" fill="clear" shape="round"
      class="ion-text-lowercase">
      <ion-icon slot="start" name="logo-github"></ion-icon>
      @{{ author.github }}
    </ion-button>
  </ion-card-content>
</ion-card>
