<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="hidden-lg-up" size="12" offsetMd="1" sizeMd="8">
      <ion-card class="neu-card-small">
        <h1>{{ title }}</h1>
        <h4>{{ subtitle }}</h4>
      </ion-card>
    </ion-col>
     <ion-col class="hidden-md-down" size="4">
      <ion-card class="neu-card">
        <h1>{{ title }}</h1>
        <h4>{{ subtitle }}</h4>
      </ion-card>
    </ion-col>
    <ion-col class="posts" size="12" sizeLg="8">
      <ng-content></ng-content>
    </ion-col>
  </ion-row>
</ion-grid>
