:host {
  // background: var(--ion-color-primary);
  display: flex;
  flex-direction: row;
}
.posts {
  position: relative;
  display: flex;
  overflow-x: auto;
  width: 100%;
  padding-top: 44px;
  padding-bottom: 32px;
  padding-left: 86px;
  // background: var(--ion-color-primary);
}

::ng-deep {
  .posts {
    ion-card:not(.neu-card) {
      border-radius: 50px;
      flex: 1 0 auto;
      transition: transform 0.2s ease, margin 0.2s ease, box-shadow 0.2s ease;
      height: 344px;
      margin-right: -66px;
      max-width: 280px;
      min-width: 280px;
      padding: 16px 24px;
    }

    app-article {
      ion-chip {
        box-shadow: none;
      }
      h2 {
        height: 88px;
      }

      h4 {
        height: 24px;
      }

      p {
        height: 70px;
      }
    }

    ion-card:hover:not(.neu-card) {
      transform: translate(-4px, -12px);
      margin-right: 8px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }

  body:not(.dark) .posts {
    ion-card {
      --background: var(--ion-color-primary-tint);
    }
  }
}

.neu-card {
  flex: 1 0 auto;
  padding: 16px 24px;

  border-radius: 50px;
  max-width: 220px;
  height: 344px;
  margin-right: 0px;
  transform: none;
  margin-right: 28px;
  --background: var(--gradient);

  h2,
  h4 {
    color: #ffffff;
    text-align: justify;
    hyphens: auto;
  }

  h2 {
    font-weight: 600;
  }
}
