:host {
  @apply flex flex-col md:flex-row w-full pt-4 pb-8 md:pl-20 bg-canvas-light rounded-tl-xl rounded-br-xl;
}

@screen md {
  .title-card {
    width: 240px;
    flex: 0 0 240px;
    h3 {
      transform: rotateZ(0deg);
      writing-mode: lr;
    }
  }
}

::ng-deep app-card-stack {
  .card:not(.title-card) {
    margin-left: -130px;
    transition: transform 200ms ease;
    box-shadow: -1rem 0 2.4rem var(--canvas);
    position: relative;

    app-article {
      @apply h-full;

      .article-card {
        @apply p-4;
      }

      h3 {
        @apply min-h-24;
      }

      .description {
        @apply min-h-18;
      }
    }
  }

  .card:not(.title-card):hover {
    transform: translateY(-12px);
  }

  .card:not(.title-card):hover ~ .card {
    transform: translateX(130px);
  }
}

.horizontal-cards {
  padding-left: 50%;
}

@screen sm {
  .horizontal-cards {
    padding-left: 40%;
  }
}

@screen md {
  .horizontal-cards {
    padding-left: 174px;
  }
}
