<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="hidden-lg-up" size="12" size-md="8" offset-md="1">
      <ion-card class="neu-card-small">
        <h2>{{ title }}</h2>
        <h4>{{ subtitle }}</h4>
      </ion-card>
    </ion-col>
    <ion-col class="hidden-md-down" size="4">
      <ion-card class="neu-card">
        <h2>{{ title }}</h2>
        <h4>{{ subtitle }}</h4>
      </ion-card>
    </ion-col>
    <ion-col class="posts" size="12" size-lg="8">
      <ng-content></ng-content>
    </ion-col>
  </ion-row>
</ion-grid>
