<div class="px-10 py-5 flex flex-col space-y-2 z-10 flex-grow">
  <a class="flex items-center select-none space-x-2">
    <img class="h-24 w-24" [src]="logo" />
    <span class="text-3xl font-black text-primary">notiz.dev</span>
  </a>
  <span class="text-6xl font-bold text-color leading-normal w-4/5">{{
    title
  }}</span>
</div>
<div class="footer flex flex-row items-center space-x-4 px-10 pb-8">
  <img
    [src]="avatar"
    class="avatar rounded-full w-24 h-24 border-primary border-solid border-2"
  />
  <div class="flex flex-col space-y-2">
    <span class="text-3xl font-sub font-bold text-color">{{ author }}</span>
    <span class="text-base text-color-shade">{{
      updatedAt | date: 'MMMM dd, yyyy'
    }}</span>
  </div>

  <div class="flex flex-row-reverse flex-auto space-x-4 space-x-reverse">
    <img class="h-24 w-24" *ngFor="let l of _logos.reverse()" [src]="l" />
  </div>
</div>
