<niz-seo title="Series - notiz" description="All series on notiz.dev"></niz-seo>

<article class="mt-10 max-w-container">
  <header>
    <h1 class="text-3xl font-extrabold sm:text-4xl md:text-5xl">Series</h1>
    <p class="mt-1 text-lg text-color-light sm:text-xl md:text-2xl">
      Collection of all our series covering the latest tech stack about web
      technologies, devops and more.
    </p>
  </header>

  {{ series$ | async | json }}

  <div
    class="grid grid-cols-1 gap-y-4 md:grid-cols-2 md:gap-x-4 lg:grid-cols-3 lg:gap-x-6 lg:gap-y-4"
  >
    <a *ngFor="let s of series$ | async" class="group" [routerLink]="[s.route]">
      <div class="bg-background-light rounded-xl overflow-hidden h-full">
        <!-- TODO use series banner image  -->
        <img
          src="https://notiz.dev/assets/banners/blog/simple-rxjs-keyboard-shortcuts/twitter.png"
          [alt]="s.title"
        />
        <div class="p-6 text-center">
          <h2 class="text-2xl font-semibold group-hover:text-blue">
            {{ s.title }}
          </h2>
          <p>
            {{ s.description }}
          </p>
        </div>
      </div>
    </a>
  </div>
</article>
