<form
  class="flex flex-col space-y-5 max-w-screen-xl mx-auto"
  [formGroup]="newsletterSignup"
  (ngSubmit)="signupNewsletter()"
>
  <div>
    <h2 class="text-2xl font-semibold">Weeklyish Newsletter</h2>
    <p>
      Stay up to date with Angular, NestJS and more! Sign up to receive updates
      on our latest posts.
    </p>
  </div>

  <div class="flex flex-row h-16 space-x-5 items-center flex-1">
    <niz-input
      label="Email Address"
      type="email"
      formControlName="email"
      [invalid]="invalid"
      (nizFocus)="invalid = false"
    ></niz-input>
    <niz-primary-button type="submit">
      <ion-icon *ngIf="!pending" name="paper-plane"></ion-icon>
      <ion-spinner *ngIf="pending" name="bubbles"></ion-spinner>
      Subscribe
    </niz-primary-button>
  </div>
</form>
