.signup {
  --background: var(--gradient);
}
.input-wrapper {
  display: flex;
  align-items: center;
}
.cta {
  width: 100%;
}

ion-input,
p {
  font-size: 20px;
}

.newsletter {
  width: 100%;
  --inner-padding-start: 24px;
  border: 2px solid var(--ion-background-color);
}

.newsletter.dirty {
  border: 2px solid var(--ion-color-danger);

  ion-input,
  p {
    color: var(--ion-color-danger);
  }
}

::ng-deep {
  body.dark {
    .newsletter {
      border-radius: 50px;
      --box-shadow: inset 9px 9px 17px #0b0b0b, inset -9px -9px 17px #191919;
    }
  }
  body:not(.dark) {
    .newsletter {
      --padding-start: 24px;
      border-radius: 50px;
      --background: var(--ion-color-primary-tint);
      --box-shadow: inset 11px 11px 22px #e6e6e6, inset -11px -11px 22px #ffffff;
    }
  }

  .form-error,
  .form-success {
    text-align: center;
    position: fixed;
  }

  .form-error {
    --background: var(--ion-color-danger);
    --color: var(--ion-text-color);
  }

  .form-success {
    --background: var(--ion-color-success);
    --color: var(--ion-text-color);
  }
}
ion-item {
  --transition: none;
}
