:host {
  display: block;
}

.signup {
  --canvas: var(--gradient);
}
.input-wrapper {
  display: flex;
  align-items: center;
}

.newsletter {
  width: 100%;
  --inner-padding-start: 24px;
  border: 2px solid var(--canvas);
}

.newsletter.dirty {
  border: 2px solid theme('colors.danger');
}

::ng-deep {
  body.dark {
    .newsletter {
      border-radius: 50px;
      --box-shadow: inset 9px 9px 17px #0b0b0b, inset -9px -9px 17px #191919;
    }
  }
  body:not(.dark) {
    .newsletter {
      --padding-start: 24px;
      border-radius: 50px;
      --canvas: theme('colors.primary.dark');
      --box-shadow: inset 11px 11px 22px #e6e6e6, inset -11px -11px 22px #ffffff;
    }
  }

  .form-error,
  .form-success {
    text-align: center;
    position: fixed;
  }

  .form-error {
    --canvas: theme('colors.danger');
    --color: var(--text-color);
  }

  .form-success {
    --canvas: theme('colors.green.500');
    --color: var(--text-color);
  }
}
