ion-col {
  padding-top: 108px;
}
.list {
  --background: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding-bottom: 48px;
}

ion-card-title {
  cursor: pointer;
}
ion-card-title:hover {
  --color: var(--ion-color-primary);
}
