<niz-seo
  *ngIf="author$ | async as author"
  [title]="author.title + ' - notiz'"
  [description]="'Overview of posts on notiz.dev by ' + author.title"
  [route]="author.route"
  [image]="author.img"
  [tags]="[author.title]"
  [authorFirstName]="author.title.slice(0, author.title.indexOf(' '))"
  [authorLastName]="
    author.title.slice(author.title.indexOf(' ') + 1, author.title.length)
  "
  [authorUserName]="author.twitter"
></niz-seo>

<div class="container mt-8 space-y-6">
  <app-breadcrumb *ngIf="author$ | async as author" [data]="author"></app-breadcrumb>
  <h1 *ngIf="author$ | async as author">
    More about the author
  </h1>
  <div
    class="max-w-sm bg-canvas-light rounded-lg overflow-hidden px-4 py-5 space-y-6 md:max-w-lg"
  >
    <div class="flex items-center space-x-4" *ngIf="author$ | async as author">
      <img
        class="h-24 w-24 rounded-full"
        [alt]="author.title"
        [src]="author.img"
      />
      <div>
        <a
          class="mt-1 text-2xl font-bold line-clamp-2 min leading-8"
          [routerLink]="author.route"
        >
          {{ author.title }}
        </a>
        <a [href]="author.website" target="_blank" rel="noreferrer">{{
          author.website
        }}</a>
      </div>
    </div>

    <div class="prose">
      <scully-content></scully-content>
    </div>

    <div class="space-x-2" *ngIf="author$ | async as author">
      <a
        class="chip space-x-2"
        href="https://twitter.com/{{ author.twitter }}"
        target="_blank"
        rel="noreferrer"
      >
        <niz-inline-svg
          class="h-4 w-4"
          svgSource="assets/img/twitter-white.svg"
        ></niz-inline-svg>
        <span>@{{ author.twitter }}</span>
      </a>
      <a
        class="chip space-x-2"
        href="https://github.com/{{ author.github }}"
        target="_blank"
        rel="noreferrer"
        ><niz-inline-svg
          class="h-4 w-4"
          svgSource="assets/stack/github.svg"
        ></niz-inline-svg>
        <span>@{{ author.github }}</span>
      </a>
    </div>
  </div>
</div>
  <app-card-stack class="mt-12"
    *ngIf="author$ | async as author"
    title="Latest Articles"
    [subtitle]="'Latest posts by ' + author.title"
  >
    <div
      class="card"
      *ngFor="let link of latestAuthorPosts$ | async | slice: 0:8"
    >
      <app-article class="stacked" [route]="link"></app-article>
    </div>
    <div class="card" *ngIf="(latestAuthorPosts$ | async).length < 7">
      <app-coming-soon></app-coming-soon>
    </div>
  </app-card-stack>

<div
  class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6 mt-8 max-w-screen-xl mx-auto px-5"
>
  <div class="w-full md:w-9/12 xl:w-10/12 flex flex-col space-y-4">
    <h2 class="text-2xl font-semibold">Recently Updated</h2>
    <div class="flex flex-wrap">
      <app-article
        *ngFor="let blogPost of updatedAuthorPosts$ | async | slice: 1:10"
        [route]="blogPost"
      >
      </app-article>
    </div>
  </div>
  <div class="w-full md:w-3/12 xl:w-2/12 flex flex-col space-y-4 mt-5 md:mt-0">
    <a routerLink="/tags">
    <h2 class="text-2xl font-semibold">
      Tags
    </h2>
  </a>
    <app-tags-view limit="18" [tags]="authorTags$"></app-tags-view>
  </div>
</div>
