<div class="responsive-container space-y-5 mt-10">
  <app-breadcrumb></app-breadcrumb>
  <h1 *ngIf="author$ | async as author">More about the author</h1>

  <app-author *ngIf="author$ | async as author" [author]="author"></app-author>

  <div class="description">
    <scully-content></scully-content>
  </div>
</div>

<app-card-stack
  *ngIf="author$ | async as author"
  title="Latest Articles"
  [subtitle]="'Latest posts by ' + author.title"
>
  <div class="card" *ngFor="let link of latestAuthorPosts$ | async | slice: 0:8">
    <app-article [route]="link"></app-article>
  </div>
  <div class="card" *ngIf="(latestAuthorPosts$ | async).length < 7">
    <app-coming-soon></app-coming-soon>
  </div>
</app-card-stack>

<div class="flex flex-row space-x-5 mt-10 max-w-screen-xl mx-auto">
  <div class="flex-1 sticky top-0 flex flex-col space-y-5">
    <h2 class="ml-6 text-2xl font-semibold">
      <a routerLink="/tags">Tags</a>
    </h2>
    <app-tags-view
    limit="10"
    [blogPosts]="latestAuthorPosts$"
    [tags]="authorTags$"
  ></app-tags-view>
  </div>
  <div class="flex flex-col space-y-5">
    <h2 class="text-2xl font-semibold">Recently Updated</h2>
    <app-article
      [route]="link"
      *ngFor="let link of updatedAuthorPosts$ | async"
    ></app-article>
  </div>
</div>