a {
  color: var(--ion-text-color);
  cursor: pointer;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}

.featured {
  a {
    color: var(--ion-color-secondary);
  }
  h1 {
    font-size: 2.4rem;
  }
}

:host {
  display: block;
}

h1 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.date{
  padding-top: 8px;
}
