<div [ngClass]="{ featured: feature }">
  <div class="header">
    <ion-chip
      *ngIf="feature && featureIcon"
      class="feature-chip"
      color="secondary"
      outline="true"
    >
      <ion-icon *ngIf="featureIcon" [name]="featureIcon"></ion-icon>
      <ion-label>{{ feature }}</ion-label>
    </ion-chip>
    <div class="date">{{ route.updatedAt | date: 'MMMM dd, yyyy' }}</div>
    <h1 *ngIf="feature">
      <a [href]="route.route">
        {{ route.title }}
      </a>
    </h1>
    <h2 *ngIf="!feature">
      <a [href]="route.route">
        {{ route.title }}
      </a>
    </h2>
  </div>
  <img
    *ngIf="banner && route.banner"
    class="banner"
    [src]="route.banner"
    [alt]="route.title"
  />
  <div class="content">
    <p>{{ route.description }}</p>
    <a
      *ngFor="let tag of route.tags | slice: 0:3"
      [href]="'/tags/' + tag | lowercase | dash"
    >
      <ion-chip class="ion-no-border" fill="clear" color="dark">
        <ion-label>{{ tag }}</ion-label>
      </ion-chip>
    </a>
  </div>
  <div class="ion-padding sneak-peek-wrapper" *ngIf="peek">
    <div class="sneak-peek post">
      <markdown ngPreserveWhitespaces [data]="sneakPeek | async"></markdown>
    </div>
    <div class="overlay"></div>
    <a class="readmore" [href]="route.route">
      read more
    </a>
  </div>
</div>
