:root {
  --gradient: linear-gradient(
    145deg,
    theme('colors.primary.light'),
    theme('colors.primary.DEFAULT'),
    theme('colors.primary.dark')
  );
}

body.dark {
  --canvas: theme('colors.gray.950');
  --canvas-opac: #141922dd;
  --canvas-light: theme('colors.gray.900');
  --canvas-shade: theme('colors.gray.800');

  --text: theme('colors.gray.100');
  --text-light: theme('colors.gray.300');
  --text-shade: theme('colors.gray.400');
  --code: #ffe9cd;
}

body:not(.dark) {
  --canvas: theme('colors.white');
  --canvas-opac: #edf2f7dd;
  --canvas-light: theme('colors.gray.200');
  --canvas-shade: theme('colors.gray.400');

  --text: theme('colors.gray.800');
  --text-light: theme('colors.gray.700');
  --text-shade: theme('colors.gray.500');
  --code: #f38e54;
}
