:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ion-icon {
  font-size: 38px;
}
a {
  color: var(--ion-color-secondary);
}
