<ion-content>
  <app-header></app-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <div class="empty-box" *ngIf="!confirmed && !error">
          <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <div class="empty-box" *ngIf="!confirmed && error">
          <img
            src="assets/img/cancel.svg"
            alt="Error while confirming subscription"
          />
          <h2>Oh no!</h2>
          <p>Something went wrong, sorry! Please try again later.🙈</p>
        </div>
        <div class="empty-box" *ngIf="confirmed">
          <img src="assets/img/subscribed.svg" alt="Subscription confirmed" />
          <h2>Thanks for subscribing!</h2>
          <p>
            From now on we'll update you about new posts on notiz.dev. In the
            meantime
            <a href="https://twitter.com/notiz_dev"> say hi on twitter.</a>
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
