<div id="medium-zoom"></div>
<niz-navbar>
  <niz-toolbar class="px-5">
    <a start class="flex items-center select-none" [routerLink]="['/']">
      <niz-inline-svg
        class="h-12 w-12"
        svgSource="assets/img/logo.svg"
      ></niz-inline-svg>
      <span class="ml-2 text-xl font-bold">notiz</span>
    </a>
    <div end class="flex flex-row space-x-6 items-center">
      <a
        class="font-bold text-xl select-none"
        [routerLink]="['/blog']"
        routerLinkActive="router-link-active"
        start
        >All Posts</a
      >
      <a
        class="font-bold text-xl select-none"
        [routerLink]="['/tags']"
        routerLinkActive="router-link-active"
        start
        >Tags</a
      >
      <button
        class="relative h-6 w-6 theme focus:outline-none select-none"
        [ngClass]="{
          dark: themeService.theme === 'dark',
          rotate: themeService.theme === 'dark'
        }"
        (click)="themeService.toggleTheme()"
      >
        <niz-inline-svg svgSource="assets/img/adjust.svg"></niz-inline-svg>
      </button>
    </div>
  </niz-toolbar>
</niz-navbar>

<main class="pt-10">
  <router-outlet></router-outlet>
</main>

<app-newsletter-signup class="mt-10 px-5"></app-newsletter-signup>
<niz-footer
  class="my-10 px-5"
  [footerSections]="footerSections"
  [copyrightUrl]="copyrightUrl"
  [createdWithSvgSources]="createdWithSvgSources"
></niz-footer>

<niz-search></niz-search>
