<niz-seo
  title="Latest articles - notiz"
  description="Latest articles on notiz.dev featuring Angular, Nestjs, Web Components and more"
></niz-seo>
<article class="container mt-8 space-y-6">
  <app-breadcrumb></app-breadcrumb>

  <div class="flex flex-col space-y-4 md:flex-row md:space-y-0 md:space-x-6">
    <div class="w-full md:w-9/12 xl:w-10/12 flex flex-col space-y-4">
      <h1 class="text-3xl">Posts</h1>
      <div class="grid lg:grid-cols-2 gap-4">
        <app-article
          *ngFor="let blogPost of blogPosts$ | async"
          [route]="blogPost"
        >
        </app-article>
      </div>
    </div>
    <div
      class="w-full md:w-3/12 xl:w-2/12 flex flex-col space-y-4 mt-5 md:mt-0"
    >
      <a routerLink="/tags">
        <h2 class="text-2xl font-semibold">Tags</h2>
      </a>
      <app-tags-view limit="18" [tags]="tags$"></app-tags-view>
    </div>
  </div>
</article>
