<div>
  <app-header></app-header>

  <ion-grid fixed no-padding class="padding64">
    <ion-row>
      <ion-col class="ion-padding" size="12" size-md="4">
        <div class="sticky-tags">
          <h2 class="text-2xl font-semibold"><a href="tags">Tags</a></h2>
          <app-tags-view limit="10" [blogPosts]="blogPosts$" [tags]="tags$"></app-tags-view>
        </div>
      </ion-col>
      <ion-col class="ion-padding" size="12" size-md="8">
        <h1 class="text-3xl font-bold">All Posts</h1>
        <!-- TODO infinite scroll -->
        <app-article class="list-article" *ngFor="let blogPost of blogPosts$ | async" [route]="blogPost">
        </app-article>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-newsletter-signup></app-newsletter-signup>
</div>
