<ion-content>
  <app-header></app-header>

  <ion-grid fixed no-padding class="padding64">
    <ion-row>
      <ion-col class="ion-padding" size="12" sizeMd="4">
        <div class="sticky-tags">
          <h1><a href="tags">Tags</a></h1>
          <app-tags-view [blogPosts]="blogPosts$" [tags]="tags$"></app-tags-view>
        </div>
      </ion-col>
      <ion-col class="ion-padding" size="12" sizeMd="8">
        <h1>All Posts</h1>
        <!-- TODO infinite scroll -->
        <app-article class="list-article" *ngFor="let blogPost of blogPosts$ | async" [route]="blogPost">
        </app-article>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-newsletter-signup></app-newsletter-signup>

  <app-footer></app-footer>

</ion-content>
