<ion-content>
  <app-header></app-header>
  <ion-grid fixed no-padding>
    <ion-row>
      <ion-col class="ion-padding ion-text-center" size="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2">
        <ion-chip class="feature-chip" color="secondary" outline="true">
          <ion-label>Tags</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col class="ion-padding ion-text-center" size="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2">
        <app-tags-view></app-tags-view>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
