<ion-content>
  <app-header></app-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <div>
          <img src="assets/img/empty.svg" alt="Nothing found illustration" />
          <h2>We couldn't find what you are looking for. 💣</h2>
          <p>
            That's probably our fault. In the meantime you can checkout our
            <a fill="clear" shape="round" href="">Latest posts</a>.
          </p>
        </div></ion-col
      ></ion-row
    ></ion-grid
  >
  <app-newsletter-signup></app-newsletter-signup>
  <app-footer></app-footer>

</ion-content>
