<niz-seo title="Page not found - notiz" robots="nofollow, noindex"></niz-seo>

<div class="container space-y-6 mt-8">
  <app-breadcrumb></app-breadcrumb>
  <img
    class="mx-auto"
    src="assets/img/empty.svg"
    alt="Nothing found illustration"
  />
  <h2 class="mt-2 text-2xl font-semibold md:text-3xl">
    We couldn't find what you are looking for. 💣
  </h2>
  <p class="mt-1 text-lg md:text-xl">
    That's probably our fault. In the meantime you can checkout our
    <a routerLink="/" class="text-primary hover:text-primary-dark">
      Latest posts</a
    >.
  </p>
</div>
