a:hover:not(.activeItem) {
  @apply bg-canvas-light rounded-lg;

  #title {
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.activeItem {
  @apply bg-canvas-shade rounded-lg;
}

.searchItem:last-child {
  @apply pb-2;
}
