<div class="responsive-container space-y-5 mt-10">
  <app-breadcrumb></app-breadcrumb>
  <h1>{{ (page$ | async)?.title }}</h1>

  <scully-content></scully-content>

  <app-article
    [peek]="true"
    feature="Latest Post"
    featureIcon="megaphone-outline"
    *ngFor="let route of tagPosts$ | async | slice: 0:1"
    [route]="route"
  ></app-article>

  <div class="flex flex-col space-y-5">
    <h2 class="text-2xl font-semibold">
      Latest posts for {{ (page$ | async)?.title }}
    </h2>
    <app-article
      *ngFor="let blogPost of tagPosts$ | async | slice: 0:10"
      [route]="blogPost"
    >
    </app-article>
  </div>
</div>
