<ion-content>
  <app-header></app-header>
  <ion-grid fixed no-padding>
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <h1>{{ (page$ | async)?.title }}</h1>
      </ion-col>
      <ion-col class="ion-padding" size="12" size-md="8" pushMd="3">
        <scully-content></scully-content>
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <app-article [peek]="true"
          feature="Latest Post"
          featureIcon="megaphone-outline"
          *ngFor="let route of tagPosts$ | async | slice: 0:1"
          [route]="route"
        ></app-article>
      </ion-col>

      <ion-col class="ion-padding" size="12" sizeMd="4"> </ion-col>
      <ion-col class="ion-padding" size="12" sizeMd="8">
        <h1>Latest posts for {{ (page$ | async)?.title }}</h1>
        <app-article
          class="list-article"
          *ngFor="let blogPost of tagPosts$ | async | slice: 0:10"
          [route]="blogPost"
        >
        </app-article>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-newsletter-signup></app-newsletter-signup>
  <app-footer></app-footer>
</ion-content>
