<ion-content>
  <app-header></app-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="3" *ngFor="let link of authors$| async">
        <ion-card>
          <ion-card-header>
            <a [href]="link.route">
              <ion-card-title>{{ link.title }}</ion-card-title>
            </a>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-newsletter-signup></app-newsletter-signup>
  <app-footer></app-footer>
</ion-content>
