/* You can add global styles to this file, and also import other style files */
/* include CSS for prism toolbar */
@import '~prismjs/plugins/toolbar/prism-toolbar.css';
/* check node_modules/prismjs/themes/ for the available themes */
@import '~prismjs/themes/prism-tomorrow';

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --ion-font-family: 'Muli', sans-serif;
  font-family: 'Muli', sans-serif;
}

body.dark {
  .cta.secondary {
    --background: var(--ion-background-color);
    box-shadow: 20px 20px 60px #090909, -20px -20px 60px #1b1b1b;
  }
  ion-chip {
    background: var(--ion-background-color);
    box-shadow: 7px 7px 10px #0b0b0b, -7px -7px 10px #191919;
  }
}

body:not(.dark) {
  .cta.secondary {
    --background: var(--ion-background-color);
    box-shadow: 5px 5px 14px #ededed, -5px -5px 14px #ffffff;
  }
  ion-chip {
    background: #ffffff;
    box-shadow: 5px 5px 14px #ededed, -5px -5px 14px #ffffff;
  }
}

.cta {
  border-radius: 50px;
  --background: var(--gradient);

  --padding-top: 0.2em;
  --padding-start: 1.2em;
  --padding-end: 1.2em;
  --padding-bottom: 0.2em;
  height: 3.4em;
  font-size: 22px;
}

.cta.secondary {
  --color: var(--ion-color-secondary);
  --border-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--gradient);
}

ion-chip.small {
  font-size: 14px;
  height: 24px;
  border-radius: 12px;
}

ion-chip.big {
  font-size: 32px;
  height: 48px;
  border-radius: 24px;
  padding: 8px 12px;
}
