/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'base-styles.scss';
@import 'theme/line-clamp.utilities.scss';

@import 'prismjs/themes/prism-tomorrow';
@import 'prismjs/plugins/toolbar/prism-toolbar';
@import 'prismjs/plugins/diff-highlight/prism-diff-highlight';

@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  font-family: 'Muli', sans-serif;
}

body {
  @apply bg-background;
}

.gradient:hover {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-background-shade;
}
::-webkit-scrollbar-thumb {
  @apply bg-background-light;
  border-radius: 99px;
}

.theme.dark.rotate niz-inline-svg {
  transform: rotateZ(180deg);
}
.theme niz-inline-svg {
  transition: transform 150ms ease;
}

// markdown

.token.boolean,
.token.function,
.token.number {
  color: #f38e54;
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #62f296;
}
.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  color: #f2df62;
}

.medium-zoom-overlay {
  background-color: var(--background) !important;
  z-index: 2;
}
.medium-zoom-image--opened {
  z-index: 3;
}

@screen xl {
  body {
    @apply px-0;
  }
}

.responsive-container {
  @apply max-w-screen-xl mx-auto flex flex-col px-5;
}

.card {
  @apply rounded-xl shadow-md bg-background-light p-4 overflow-y-hidden;
  width: 280px;
  height: 340px;
}

.bg-gradient {
  background: var(--gradient);
}

.spin {
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about {
  a {
    @apply text-primary-light;
  }

  a:hover {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

body.dark {
  niz-toast.error {
    @apply bg-red-800;

    .toast-text,
    .toast-button {
      @apply text-color-light;
    }
  }
  niz-toast.success {
    @apply bg-green-800;

    .toast-text,
    .toast-button {
      @apply text-color-light;
    }
  }
}

body:not(.dark) {
  niz-toast.error {
    @apply bg-red-500;
  }
  niz-toast.success {
    @apply bg-green-800;
  }
}
