<niz-seo
  *ngIf="post$ | async as post"
  [title]="post.title"
  [description]="post.description"
  [route]="post.route"
  [tags]="post.tags"
  [keywords]="post.keywords"
  [twitterImage]="post.route"
  [ogImage]="post.route"
  [articlePublishedAt]="post.publishedAt"
  [articleUpdatedAt]="post.updatedAt"
  [articleAuthors]="authors$ | async | mapPostAuthors"
></niz-seo>

<article class="mt-10 max-w-screen-xl mx-auto" *ngIf="post$ | async as route">
  <div class="max-w-3xl mx-auto px-4 space-y-4 sm:px-6 xl:max-w-5xl xl:px-0">
    <header class="space-y-4">
      <app-breadcrumb></app-breadcrumb>
      <div class="space-y-1">
        <dl>
          <div>
            <dt class="sr-only">Published at</dt>
            <dd class="text-base leading-6 font-medium text-color-light">
              <time [dateTime]="route.publishedAt">
                {{ route.publishedAt | date: 'dd MMMM yyyy' }}
              </time>
            </dd>
          </div>
        </dl>

        <h1 class="text-3xl font-extrabold sm:text-4xl md:text-5xl">
          {{ route.title }}
        </h1>

        <p class="text-lg text-color-light sm:text-xl md:text-2xl">
          {{ route.description }}
        </p>
      </div>
    </header>
    <div
      class="grid grid-cols-1 md:grid-cols-3 md:gap-x-4 lg:grid-cols-4 lg:gap-x-6"
    >
      <div
        class="prose prose-toc max-w-none md:prose-lg md:col-span-2 lg:col-span-3"
      >
        <scully-content></scully-content>
      </div>
      <div class="order-first md:order-none">
        <div class="sticky top-32 space-y-4">
          <niz-toc></niz-toc>
          <div>
            <h2 class="text-xl font-semibold">Tags</h2>
            <niz-chip
              class="mb-1 mr-1 gradient"
              *ngFor="let tag of route.tags | slice: 0:3"
              size="xl"
            >
              <a [routerLink]="'/tags/' + (tag | dash | lowercase)">
                {{ tag }}
              </a>
            </niz-chip>
          </div>
        </div>
      </div>
    </div>
    <div class="space-y-4">
      <h2 class="ml-2 text-2xl">
        {{ (authors$ | async)?.length > 1 ? 'Authors' : 'Author' }}
      </h2>

      <app-author [author]="(authors$ | async)[0]"></app-author>
    </div>
  </div>
</article>

<div class="mx-auto flex">
  <app-card-stack
    title="Related Posts"
    subtitle="Find more posts like this one."
  >
    <div class="card" *ngFor="let blogPost of related$ | async | slice: 0:8">
      <app-article class="stacked" [route]="blogPost"></app-article>
    </div>
    <div class="card" *ngIf="(related$ | async | slice: 0:8)?.length < 7">
      <app-coming-soon></app-coming-soon>
    </div>
  </app-card-stack>
</div>
<app-comments class="my-5" [route]="post$ | async"></app-comments>
