<ion-content>
  <app-header></app-header>
  <ion-grid fixed no-padding>
    <ion-row *ngIf="post$ | async as post">
      <ion-col class="padding64" size="11" offset="1" sizeXl="9" offsetXl="1">
        <app-article feature="Article" [route]="post"></app-article>
      </ion-col>
      <ion-col *ngIf="post.github" size="11" offset="1">
        <app-github-url [url]="post.github"></app-github-url>
      </ion-col>
      <ion-col size="11" offset="1" sizeLg="8" offsetLg="1">
        <div class="line"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="11" offset="1" sizeMd="9" offsetMd="1">
        <div class="post">
          <scully-content></scully-content>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="11" offset="1" sizeMd="6">
        <h2>{{ (authors$ | async)?.length > 1 ? 'Authors' : 'Author' }}</h2>
      </ion-col>
      <ion-col
        *ngFor="let author of authors$ | async"
        size="11"
        offset="1"
        sizeMd="5"
        offsetMd="1"
      >
        <app-author [author]="author"></app-author>
      </ion-col>
      <ion-col
        *ngIf="post$ | async as post"
        class="padding64"
        size="11"
        offset="1"
      >
        <h2>Share this post</h2>
        <app-share [route]="post"></app-share>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-card-stack
    title="Related Posts"
    subtitle="Find more posts like this one."
  >
    <ion-card *ngFor="let blogPost of related$ | async | slice: 1:6">
      <app-article [route]="blogPost"></app-article>
    </ion-card>
    <ion-card *ngIf="(related$ | async | slice: 1:6)?.length < 5">
      <app-coming-soon></app-coming-soon>
    </ion-card>
  </app-card-stack>
  <app-newsletter-signup class="padding64"></app-newsletter-signup>
  <app-footer></app-footer>
</ion-content>
