<div class="responsive-container space-y-5 mt-10">
  <app-breadcrumb></app-breadcrumb>

  <app-article feature="Article" [route]="post$ | async"></app-article>

  <app-github-url [url]="(post$ | async).github"></app-github-url>

  <div class="line"></div>
  <div class="flex flex-row space-x-5 mt-10 max-w-screen-xl mx-auto">
    <div class="flex flex-col space-y-5 post">
      <scully-content></scully-content>
    </div>
    <div class="sticky top-0 flex flex-col space-y-5">
      <niz-toc></niz-toc>
    </div>
  </div>

  <h2 class="ml-2 text-2xl">
    {{ (authors$ | async)?.length > 1 ? 'Authors' : 'Author' }}
  </h2>

  <app-author [author]="(authors$ | async)[0]"></app-author>

  <h2 class="text-2xl font-semibold">Share this post</h2>
  <app-share [route]="authors$ | async"></app-share>
</div>
<app-card-stack title="Related Posts" subtitle="Find more posts like this one.">
  <div class="card" *ngFor="let blogPost of related$ | async | slice: 0:8">
    <app-article [route]="blogPost"></app-article>
  </div>
  <div class="card" *ngIf="(related$ | async | slice: 0:8)?.length < 7">
    <app-coming-soon></app-coming-soon>
  </div>
</app-card-stack>
<app-comments class="my-5" [route]="post$ | async"></app-comments>>