<app-header></app-header>
<ion-content>
  <ion-grid fixed no-padding>
    <ion-row>
      <ion-col size="12" sizeLg="7" sizeMd="9" class="ion-padding about">
        <p>Hey I'm Gary Großgarten. I'm a full stack software developer who specializes in building thoroughly designed web apps.</p>
        <p>In my free time I do some <a href="https://github.com/notiz">open source work</a> and occasionally <a href="blog">write</a> and <a href="https://twitter.com/notiz">tweet</a> about it.</p>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12" pushLg="5" sizeLg="7" pushMd="3" sizeMd="9" class="ion-padding questions">
        <div class="neubutton ion-float-right">
          💻
        </div>
        <div class="neubutton ion-float-right">
          🖊
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>