.about {
  min-height: 324px;
  margin-top: 120px;
  border-radius: 60px;
  background: #121212;

  p {
    font-size: 24px;
    text-align: justify;
    vertical-align: middle;
    padding: 12px 14px;
  }
}

.questions {
  margin-top: 80px;
}

.neubutton {
  height: 90px;
  width: 90px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;

  font-size: 28px;
}

::ng-deep {
  body.dark {
    .about {
      background: #121212;
      box-shadow: 41px 41px 82px #0c0c0c, -41px -41px 82px #181818;
    }

    .neubutton {
      background: #121212;
      box-shadow: 9px 9px 18px #0e0e0e, -9px -9px 18px #161616;
    }
  }

  body:not(.dark) {
    .about {
      background: #ffffff;
      box-shadow: 41px 41px 82px #ebebeb, -41px -41px 82px #ffffff;
    }

    .neubutton {
      background: #ffffff;
      box-shadow: 9px 9px 18px #f0f0f0, -9px -9px 18px #ffffff;
    }
  }
}
